:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  font-family: 'Inter var', 'Inter', sans-serif;
    background-color: var(--p-slate-50);
}

p {
  margin: 0 !important;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.px-1 {
  padding-inline: 0.5rem;
}

.px-3 {
  padding-inline: 3rem;
}

.py-1 {
  padding-block: 0.5rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.font-800 {
  font-weight: 800;
}